# Python 
## Ignore any errors from the pip install

In [ ]:
!pip install sklearn --upgrade

!pip install pandas --upgrade

!pip install numpy --upgrade

### Getting Started with Print

In [2]:
print("Hello Python")

Hello Python

In [3]:
print(9/3)

3.0

In [4]:

x = '2019'
y = 'Indy 500'

print("Results of the {0} {1}".format(x,y))

Results of the 2019 Indy 500

In [5]:
# this works in base python...
#print(f'Results of the {x} {y}')

In [6]:
print('Results of the {} {}'.format(x,y))

Results of the 2019 Indy 500

In [7]:
yes_votes = 42572654
no_votes = 43132495

percentage = yes_votes / (yes_votes + no_votes)

print('{:,} YES votes  {:2.2%}'.format(yes_votes, percentage))

42,572,654 YES votes  49.67%

### Types

#### Boolean

In [8]:
myBool = True
myOtherBool = False

if (myBool == myOtherBool):
    print("They Equal")
else: 
    print("They do not Equal")
        

print(type(myBool))

They do not Equal
<class 'bool'>

In [9]:
myInt = 99
myOtherInt = 999

if (myInt <= myOtherInt):
    print("myInt is less than myOtherInt with {}".format(myInt) )

myInt is less than myOtherInt with 99

#### Numeric Types

In [10]:
#Division
99 / 8

12.375

In [11]:
#Floor Division
99 // 8

12

In [12]:
# Remainder, Modulo
99 % 8

3

In [13]:
# Absolute value
abs(-4500)

4500

In [14]:
#divmod
divmod(99,8)

(12, 3)

In [15]:
# Powers
print(pow(2,4))

print(2**4)

16
16

## Sequence types: Lists, tuples, range

In [16]:

myList = ["One", "Two", "Three", "Four","Five", "Six", "Seven"]


print(type(myList))

<class 'list'>

In [17]:

myList = ["One", "Two", "Three", "Four","Five", "Six", "Seven"]


# Element in index 1
myList[1]

# Element starting at index 1 inclusive
#myList[1:]

# Element starting at index 0 - 3 not inclusive of 4
#myList[:4]

# Element starting at index 2 - 3 not inclusive of 4
#myList[2:4]

'Two'

In [18]:
#slice a section from myList to make my tiny list 
myTinyList = myList[2:4]


# Lets verify what i have in memory
myTinyList

['Three', 'Four']

In [19]:
# Look at location 0,0
myTinyList[0][0]

'T'

### Sort and Reverse

In [20]:

myList = ["One", "Two", "Three", "Four","Five", "Six", "Seven"]

#Sort 
myList.sort()
print(myList)

#Reverses
myList.reverse()
print(myList)

['Five', 'Four', 'One', 'Seven', 'Six', 'Three', 'Two']
['Two', 'Three', 'Six', 'Seven', 'One', 'Four', 'Five']

### Updating a list

In [21]:
myList[1] = "Zero"

myList

['Two', 'Zero', 'Six', 'Seven', 'One', 'Four', 'Five']

### Add an element to a List

In [22]:
myList.append("Eight")

myList

['Two', 'Zero', 'Six', 'Seven', 'One', 'Four', 'Five', 'Eight']

In [23]:
myIterList = iter(myList)

type(myIterList)

list_iterator

In [24]:
print(next(myIterList))
print(next(myIterList))
print(next(myIterList))
print(next(myIterList))
print(next(myIterList))
print(next(myIterList))
print(next(myIterList))
print(next(myIterList,"-999"))
print(next(myIterList,"-999"))

Two
Zero
Six
Seven
One
Four
Five
Eight
-999

2d List

In [25]:

myList = [["One",1], ["Two",2],["Three",3], ["Four",4,], ["Five",5]]

myList

myList[1][1]

2

### Removing elements from a list

In [26]:

myOtherList = ["One", 2, "Three", 4,"Five", 6, "Seven"]

print(myOtherList)

#pop 5th index element
myOtherList.pop(5)

print(myOtherList)

#remove and "Five"
myOtherList.remove("Five")


print(myOtherList)

['One', 2, 'Three', 4, 'Five', 6, 'Seven']
['One', 2, 'Three', 4, 'Five', 'Seven']
['One', 2, 'Three', 4, 'Seven']

### Tuple

In [27]:
myTuple = ("One", "Two", "Three", "Four","Five", "Six", "Seven")

print(type(myTuple))

<class 'tuple'>

In [28]:
print(myTuple[1])

#myTuple[1] = "Two"

Two

In [29]:
myOtherTuple = ("One", 2, "Three", 4,"Five", 6, "Seven")

myOtherTuple

('One', 2, 'Three', 4, 'Five', 6, 'Seven')

### 2D Tuple

In [30]:

my2dTuple = (["One",1], ["Two",2],["Three",3], ["Four",4,], ["Five",5])

my2dTuple[3][0]

'Four'

In [31]:
myTuple = ("One", "Two", "Three", "Three", "Three", "Three","Four","Five", "Six", "Seven")


# Find "three, how may times does it occur"
print(myTuple.count("Three"))

# Where is three
print(myTuple.index("Three"))

4
2

## Range

In [32]:
range(10)

range(0, 10)

In [33]:
list(range(0,50,5))

[0, 5, 10, 15, 20, 25, 30, 35, 40, 45]

In [34]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
x = list(range(10))
x

print(type(x))

<class 'list'>

In [36]:
for i in range(0,10):
    print (i)

0
1
2
3
4
5
6
7
8
9

### Control Flow

### if

In [37]:
x = 9 

if x < 100:
    print("x is less than 100 at {}".format(x))
else: 
    print("x is greater than 100 at {}".format(x))

x is less than 100 at 9

In [38]:
x = 10

if x % 2 == 0:
    print("x is divisible by 2 at {}".format(x/2))
elif x % 3 == 0: 
    print("x is divisible by 3 at {}".format(x/3))
elif x % 5 == 0: 
    print("x is divisible by 5 at {}".format(x/5))
elif x % 7 == 0: 
    print("x is divisible by 7 at {}".format(x/7))
else:
    print("{} is not divisible by 2,3,5,7 ".format(x))

x is divisible by 2 at 5.0

### for

In [39]:
for x in range(10):
    print(x)

0
1
2
3
4
5
6
7
8
9

In [40]:
myList = ["One", "Two", "Three", "Four","Five", "Six", "Seven"]

for x in myList:
    print(x)

One
Two
Three
Four
Five
Six
Seven

In [41]:
myList = ["One", "Two", "Three", "Four","Five", "Six", "Omega", "Seven"]
for x in myList:
    print(x, len(x))
    if x == "Omega":
        break

One 3
Two 3
Three 5
Four 4
Five 4
Six 3
Omega 5

In [42]:
myList = ["One", "Two", "Three", "Four","Five", "Six", "Omega", "Seven"]

lenList = len(myList)-1
i = 0
while i <= lenList:
    print(myList[i], len(myList[i]))
    i = i + 1

One 3
Two 3
Three 5
Four 4
Five 4
Six 3
Omega 5
Seven 5

### Functions

In [43]:
def printMary(x):
        y = "Its fleece was white as snow"
        print(x,", ", y)
    

printMary("Mary had a lttie lamb")

Mary had a lttie lamb ,  Its fleece was white as snow

In [44]:
def printMary(x,y):
        print(x,", ", y)

        
        
y = "Its fleece was white as snow"

printMary("Mary had a lttie lamb",y)

Mary had a lttie lamb ,  Its fleece was white as snow

In [45]:
def countString(x):
        return len(x)

y = "Its fleece was white as snow"    

countString(y)

28

In [46]:
def countWords(x):
        return len(x.split())

y = "Its fleece was white as snow"    

countWords(y)

6

## Lamda, anonymous function

In [47]:
def square(x):
    return x*x

square(9)

81

In [48]:
square = (lambda x: x * x)

square(9)

81

In [49]:
myList = [2,4,6,8]

square = map(lambda x: x * x, myList)

for i in square:
    print(i)

4
16
36
64

In [50]:
import pandas as pd

epaMpg = pd.read_csv ("https://raw.githubusercontent.com/sqlshep/SQLShepBlog/master/data/epaMpg.csv")

Type, determine what type of object epaMPG is

In [51]:
type(epaMpg)

pandas.core.frame.DataFrame

Head, get the first 5 and first rows of epaMPG

In [52]:
epaMpg.head(5)

,RowNumber,Represented.Test.Veh.Make,Model,Vehicle.Type,HorsePower,Cylinders,Tested.Transmission.Type.Code,Tested.Transmission.Type,Gears,Drive.System.Code,Weight,AxleRatio,Test.Procedure.Cd,Test.Procedure.Description,Test.Fuel.Type.Cd,Test.Fuel.Type.Description,FuelEcon
0,1,Aston Martin,Rapide S,Car,552,12,SA,Semi-Automatic,8,R,4750,2.73,21,Federal fuel 2-day exhaust (w/can load),61,Tier 2 Cert Gasoline,17.3
1,2,Aston Martin,Vanquish,Car,568,12,SA,Semi-Automatic,8,R,4500,2.73,21,Federal fuel 2-day exhaust (w/can load),61,Tier 2 Cert Gasoline,16.5
2,3,BENTLEY,Continental GT,Car,616,12,SA,Semi-Automatic,8,F,6000,2.85,90,US06,61,Tier 2 Cert Gasoline,17.4
3,4,BENTLEY,Continental GT,Car,616,12,SA,Semi-Automatic,8,F,6000,2.85,11,Cold CO,27,Cold CO Premium (Tier 2),13.6
4,5,BMW,230i Convertible,Car,248,4,SA,Semi-Automatic,8,R,4000,2.81,3,HWFE,61,Tier 2 Cert Gasoline,45.8

Return the columns in the dataframe

In [53]:
epaMpg.columns

Index(['RowNumber', 'Represented.Test.Veh.Make', 'Model', 'Vehicle.Type',
       'HorsePower', 'Cylinders', 'Tested.Transmission.Type.Code',
       'Tested.Transmission.Type', 'Gears', 'Drive.System.Code', 'Weight',
       'AxleRatio', 'Test.Procedure.Cd', 'Test.Procedure.Description',
       'Test.Fuel.Type.Cd', 'Test.Fuel.Type.Description', 'FuelEcon'],
      dtype='object')

Return the entire datafrma, do no tuse this on large data sets

In [54]:
epaMpg

,RowNumber,Represented.Test.Veh.Make,Model,Vehicle.Type,HorsePower,Cylinders,Tested.Transmission.Type.Code,Tested.Transmission.Type,Gears,Drive.System.Code,Weight,AxleRatio,Test.Procedure.Cd,Test.Procedure.Description,Test.Fuel.Type.Cd,Test.Fuel.Type.Description,FuelEcon
0,1,Aston Martin,Rapide S,Car,552,12,SA,Semi-Automatic,8,R,4750,2.73,21,Federal fuel 2-day exhaust (w/can load),61,Tier 2 Cert Gasoline,17.3
1,2,Aston Martin,Vanquish,Car,568,12,SA,Semi-Automatic,8,R,4500,2.73,21,Federal fuel 2-day exhaust (w/can load),61,Tier 2 Cert Gasoline,16.5
2,3,BENTLEY,Continental GT,Car,616,12,SA,Semi-Automatic,8,F,6000,2.85,90,US06,61,Tier 2 Cert Gasoline,17.4
3,4,BENTLEY,Continental GT,Car,616,12,SA,Semi-Automatic,8,F,6000,2.85,11,Cold CO,27,Cold CO Premium (Tier 2),13.6
4,5,BMW,230i Convertible,Car,248,4,SA,Semi-Automatic,8,R,4000,2.81,3,HWFE,61,Tier 2 Cert Gasoline,45.8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1029,1036,Volvo,XC60 T8 AWD,Both,313,4,SA,Semi-Automatic,8,A,5000,3.33,21,Federal fuel 2-day exhaust (w/can load),61,Tier 2 Cert Gasoline,33.1
1030,1037,Volvo,XC90 T5 AWD,Both,250,4,SA,Semi-Automatic,8,F,5000,3.33,31,Federal fuel 3-day exhaust,61,Tier 2 Cert Gasoline,27.4
1031,1038,Volvo,XC90 T5 FWD,Both,250,4,SA,Semi-Automatic,8,F,4750,3.33,31,Federal fuel 3-day exhaust,61,Tier 2 Cert Gasoline,28.6
1032,1039,Volvo,XC90 T6 AWD,Both,316,4,SA,Semi-Automatic,8,F,5000,3.33,3,HWFE,61,Tier 2 Cert Gasoline,37.9
1033,1040,Volvo,XC90 T8 AWD,Both,313,4,SA,Semi-Automatic,8,A,5500,3.33,21,Federal fuel 2-day exhaust (w/can load),61,Tier 2 Cert Gasoline,33.3

In [55]:
epaMpg.describe()

,RowNumber,HorsePower,Cylinders,Gears,Weight,AxleRatio,Test.Procedure.Cd,Test.Fuel.Type.Cd,FuelEcon
count,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000,1034.000000
mean,521.361702,291.824952,5.431335,6.509671,4191.852031,3.411064,24.993230,56.366538,28.216538
std,300.241933,144.294932,1.905214,1.992824,787.821434,0.586484,22.078601,11.633650,9.496233
min,1.000000,72.000000,3.000000,1.000000,2375.000000,1.560000,2.000000,19.000000,9.200000
25%,262.250000,181.000000,4.000000,6.000000,3625.000000,3.070000,11.000000,61.000000,21.525000
50%,520.500000,271.500000,4.000000,7.000000,4000.000000,3.360000,21.000000,61.000000,26.800000
75%,781.750000,355.000000,6.000000,8.000000,4750.000000,3.700000,31.000000,61.000000,33.400000
max,1040.000000,1500.000000,16.000000,10.000000,6500.000000,5.440000,95.000000,61.000000,71.600000